.removeServices {
	padding: 15px;
	position: fixed;
	bottom:0;
	left: 0;
	right: 0;  
	background-color: #21252b;

	.btnClearStorage {
		margin: 0 auto;
		width: 320px;
		display: block;
		background-color: #21252b;
		color: #5b616b;
		opacity: 1;
		font-size: 16px;
		padding: 5px 0;
		border: 1px solid #5b616b;
		border-radius: 6px;
		cursor: pointer;

		&:hover {
			color: #fff;
			border: 1px solid #fff;
			background-color: #f50a3d !important;
		}
	}
	.btnClearStorageDisabled {
		margin: 0 auto;
		width: 320px;
		display: block;
		opacity: .5;
		background-color: #1c1c1d;
		color: #9da5b4;
		font-size: 16px;
		padding: 5px 0;
		border: 1px solid #9da5b4;
		border-radius: 6px;
		cursor: default;
	}
}
