.searchServices {
	position: absolute;
	top: 48px;
	right: 32px;
	left: 15px;
	z-index: 999;
	margin-bottom: 5px;

	.searchServicesTitleWrap {
		width: 100%;
	}

	.searchServicesUrl {
		display: block;
		width: 100%;
		padding: 6px 6px 6px 10px;
		font-size: 18px;
		background-color: #282c34;
		border-top: none;
		border-left: none;
		border-right: none;
		color: #b6b8bd;
		border-bottom: 1px solid #9da5b4;

		&::selection {
			background-color: #b6beca;
		}		
	}
}

input::placeholder {
	font-size: 18px;
	color: #5b616b;
}
